body{
    height: 100vh;
    display: flex;
    margin: 0;
    /*background-image: url("../images/Diamond-Sunset.svg");
    background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}
.side{
    height: 100vh;
    background:
        linear-gradient(-135deg, #DA2D2E 10%, transparent 70%),
        linear-gradient(-45deg, #EED04D 10%, transparent 70%),
        linear-gradient(135deg, #009DCB 10%, transparent 70%),
        linear-gradient(45deg, #AABB45 10%, transparent 70%);
}
.board{
    width: 100vh;
    height: 100vh;
    border: 1px solid #000000;
    background: #E5E5E5;
    justify-self: left;
}

.nestRow{
    width: 100%;
    height: 40%;
    display: flex;
}

.homeRow{
    width: 100%;
    height: 20%;
    display: flex;
}

.nest{
    width: 40%;
    height: 100%;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.red{
    background: #DA2D2E;
    color: #DA2D2E;
}
.blue{
    background: #009DCB;
    color: #009DCB;
}
.yellow{
    background: #EED04D;
    color: #EED04D;
}
.green{
    background: #AABB45;
    color: #AABB45;
}

.nestRow .path{
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.homeRow .path{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.tokenHolder{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 10%;
    background: #E5E5E5;
}

.token{
    width: 60%;
    height: 60%;
    margin: 20%;
    background: none;
}
.token:hover{
    filter: saturate(110%) brightness(130%) contrast(150%);
}

.token img{
    width: 100%;
    height: 100%;
    background: none;
}

.nestRow .sidePath,.nestRow .hall{
    height: 40vh;
    width: 6.6667vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.homeRow .sidePath,.homeRow .hall{
    height: 6.6667vh;
    width: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tile{
    border: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
}
.tile .token:not(:first-child){
    display: none;
}

.door{
    background: #E5E5E5;
}
.hall.yellow .tile{
    border-top: 2px solid #000000;
    border-bottom: 0;
}
.hall.yellow .door{
    border-top: 2px solid #000000;
}

.home{
    width: 20%;
    height: 100%;
    border: 1px solid #000000;
}

.triangle{
    width: 0%;
    height: 0%;
    background: none;
    position: absolute;
}
.triangle.red{
    border-top: 10vh solid transparent;
    border-left: 10vh solid #DA2D2E;
    border-bottom: 10vh solid transparent;
}
.triangle.blue{
    border-left: 10vh solid transparent;
    border-top: 10vh solid #009DCB;
    border-right: 10vh solid transparent;
}
.triangle.green{
    border-top: 10vh solid transparent;
    border-right: 10vh solid #AABB45;
    border-bottom: 10vh solid transparent;
    border-left: 10vh solid transparent;
}
.triangle.yellow{
    border-left: 10vh solid transparent;
    border-bottom: 10vh solid #EED04D;
    border-right: 10vh solid transparent;
    border-top: 10vh solid transparent;
    margin: -1px;
}

.dice button{
    color: black;
    padding: 10px;
}
.turn h1{background: none}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scoreBoard{
    background-color: #E5E5E5;
    margin: 3vw;
    padding: 20px;
    width: 40vw;
}
.scoreBoard .red{
    background: none;
    color: #990000;
}
.scoreBoard .green{
    background: none;
    color: #009900;
}

.box2{
    background-color: #E5E5E5;
    margin-left: 3vw;
    width: 10vw;
    text-align: center;
}

.box2 h2::after {
    content: " 🕰";
}

.box3{
    background-color: #E5E5E5;
    width: 10vw;
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#roll{
    font-size: 2em;
    background-color: #009DCB;
    color: #DDDDDD;
    transition-duration: 0.6s;
    border-width: thick;
    border-color: #009DCB;
    margin-bottom: 15px;
}

#roll:hover{
    background-color: #DDDDDD;
    color: black;
    border-width: thick;
    border-color: #009DCB;
    transition-duration: 0.6s;
}

#pass{
    font-size: 2em;
    background-color: #DA2D2E;
    color: #DDDDDD;
    transition-duration: 0.6s;
    border-width: thick;
    border-color: #DA2D2E;
    margin-bottom: 15px;
}

#pass:hover{
    background-color: #DDDDDD;
    color: black;
    border-width: thick;
    border-color: #DA2D2E;
    transition-duration: 0.6s;
}

.imglogo{
    margin-left: 3vw;
    width: 250px;
    position: absolute;
    left: 0;
    bottom: 3vw;
}

.token.movable{
    filter: saturate(110%) brightness(130%) contrast(150%);
}
img.notActive{
    filter: saturate(0%) brightness(0%)
}

.imglogo{
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    20% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
    40%, 100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}