body {
    background:
            linear-gradient(-135deg, #DA2D2E 10%, transparent 70%),
            linear-gradient(-45deg, #EED04D 10%, transparent 70%),
            linear-gradient(135deg, #009DCB 10%, transparent 70%),
            linear-gradient(45deg, #AABB45 10%, transparent 70%);
    background-size: 100% 100%;
    background-attachment: fixed;
    /*background-image: url("../images/Diamond-Sunset.svg");
    background-size: 100% 100%;
	background-attachment: fixed;*/
}

h1 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 240px;
    line-height: 100px;
    letter-spacing: 0.255em;
    color: #262626;
    text-align: center;
}

button {
/* unset all default button values */
    padding: 0;
    border: none;
    outline: none;
    background: none;
    
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 115px;
    line-height: 100px;
    letter-spacing: 0.05em;
    color: #FFD130;
}

button {
/* unset all default button values */
    padding: 0;
    border: none;
    outline: none;
    background: none;
    
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 115px;
    line-height: 100px;
    letter-spacing: 0.05em;
    color: #FFD130;
    
    transtion: transform .2s;
}

button:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    color: aliceblue;
}

img {
    width: 300px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding-bottom: 150px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);   
}

h4 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

h3 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.btn {
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

